# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Flask & deployments
instance/
*.db
*.sqlite3

# Jupyter / Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp
